<!DOCTYPE html>
<head>
  <title>Will Wang</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/shared.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,700|Dancing+Script" rel="stylesheet">
  <link rel="shortcut icon" href="images/icon.png">
  <script src="javascripts/jquery-1.9.1.js"></script>
  <script src="javascripts/index-script.js"></script>
</head>


<body>
  <div id="menubar">
    <a href="/"><div class="menuitem">HOME</div></a>
    <a href="/projects"><div class="menuitem">PROJECTS</div></a>
    <a href="/pycalc"><div class="menuitem">PYCALC</div></a>
    <a href="/bearmaps"><div class="menuitem">BEARMAPS</div></a>
    <a href="/files/resume.pdf" target="_blank"><div class="menuitem">RESUME</div></a>
    <style>
      body {
        animation-name: bodycolor;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        background-color: #0ABFBC;
      }

      @keyframes bodycolor {
          0%   {background-color: #0ABFBC;}
          100% {background-color: #FC354C;}
      }

      #subtitle {
        font-family: 'Dancing Script', cursive;
        font-size: 32pt;
      }
    </style>
  </div>
  <div id="wrapper">
    <div id="main">
      <a href="https://en.wikipedia.org/wiki/The_Treachery_of_Images" target="_blank">
        <img src="images/404.png" width="600" style="margin-top: 75px;"></a>
      <div id="subtitle">404: This is not a page.</div>
    </div>
  </div>
</body>
