<!DOCTYPE html>
<head>
  <title>Will Wang</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/index-style.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/shared.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,700|Source+Sans+Pro:200,400,700" rel="stylesheet">
  <link rel="shortcut icon" href="images/icon.png">
  <script src="javascripts/jquery-1.9.1.js"></script>
  <script src="javascripts/index-script.js"></script>
</head>

<body>
  <div id="menubar">
    <a href="#about"><div class="menuitem" id="menuabout">ABOUT</div></a>
    <a href="#projects"><div class="menuitem" id="menuprojects">PROJECTS</div></a>
    <a href="#part2"><div class="menuitem" id="menuskills">SKILLS</div></a>
    <a href="#experience"><div class="menuitem" id="menuexp">EXPERIENCE</div></a>
    <a href="#contact"><div class="menuitem" id="menucontact">CONTACT</div></a>
  </div>
  <div id="wrapper">
    <div id="main">
      <div id="name">Will Wang</div>
      <div id="subtitle">Developer | Designer | Engineer</div>
      <div id="scrollwarning">Scroll Down</div>
      <div id="about">
        I am an freshman studying <a href="https://eecs.berkeley.edu/" id="href">Electrical Engineering</a><a href="https://eecs.berkeley.edu/" id="href"> & Computer Science</a> at <a href="http://www.berkeley.edu/" id="href">UC Berkeley</a>.
        I am curious about pretty much everything and anything, but I have a special interest in machine learning and algorithms.
        When I'm not coding or modeling cool things, I would probably be swimming or playing basketball. <br> <br>
        Also, I love dogs.
      </div>
      <img src="images/will.png" id="profile">
      <div id="projects">
        <div class="sub-title" id="projecttitle">Projects</div>
          <a href="https://github.com/hantaowang/schemeinterpreter" target="_blank">
          <div class="projitem" id="p1">
            <div class="overlay" id="o1">
              <div class="overlay-title">Interpreter</div>
              <div class="overlay-bar"></div>
              <div class="overlay-text">Interactive interpretor that reads and exceutes user input in Scheme, a dialect of Lisp. Focuses on OOP, keeps track of environemnts, and is written in Python. </div>
            </div>
            <img src="images/scheme.png" class="proj_img" id="i1">
          </div></a>
          <a href="https://github.com/hantaowang/hantaowang.github.io" target="_blank">
          <div class="projitem" id="p2">
            <div class="overlay" id="o2">
              <div class="overlay-title">My Website</div>
              <div class="overlay-bar"></div>
              <div class="overlay-text">Personal website written with HTML, CSS, and Javscript. Server side written with Express.JS and Node.JS.</div>
            </div>
            <img src="images/website.png" class="proj_img" id="i2">
          </div></a>
          <a href="pycalc.html" target="_blank">
          <div class="projitem" id="p3">
            <div class="overlay" id="o3">
              <div class="overlay-title">pyCalc</div>
              <div class="overlay-bar"></div>
              <div class="overlay-text">Python based graphing calculator that reads, evaluates, and graphs user input. Emphasizes Read-Print-Evalv Loops (REPL) and Tree Objects.</div>
            </div>
            <img src="images/calc.png" class="proj_img" id="i3">
          </div></a>
          <div class="projitem" id="p4">
            <div class="overlay" id="o4">
              <div class="overlay-title">Reddit Bot</div>
              <div class="overlay-bar"></div>
              <div class="overlay-text">Reddit bot built on Python that uses Reddit API to complete functions to be defined</div>
            </div>
            <img src="images/reddit.png" class="proj_img" id="i4">
          </div>
          <a href="https://github.com/hantaowang/Ruby-Blackjack" target="_blank">
          <div class="projitem" id="p5">
            <div class="overlay" id="o5">
              <div class="overlay-title">Ruby Blackjack</div>
              <div class="overlay-bar"></div>
              <div class="overlay-text">Object orientated blackjack game written in Ruby and run from the command line, complete with a simple AI dealer. Implementation allows for card counting.</div>
            </div>
            <img src="images/blackjack.png" class="proj_img" id="i5">
          </div></a>
          <a href="projects.html">
          <div class="projitem" id="p6">
            <div class="overlay" id="o6">
              <div class="overlay-title">More Projects</div>
              <div class="overlay-bar"></div>
              <div class="overlay-text">These are just some of my projects. Check out all of them here!</div>
            </div>
            <img src="images/more.png" class="proj_img" id="i6">
          </div></a>
        </div>
      <div id="part2">
          <div class="sub-title">Skills</div>
          <div id="skills">
            <div class="skill-table">
              <div class="skill">&emsp;Python<div class="bar">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
              </div></div>
              <div class="skill">&emsp;Java<div class="bar">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
              </div></div>
              <div class="skill">&emsp;C<div class="bar"> Planned</div></div>
              <div class="skill">&emsp;C++<div class="bar"> Planned</div></div>
              <div class="skill">&emsp;HTML/CSS<div class="bar">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
              </div></div>
              <div class="skill">&emsp;Javascript<div class="bar">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
              </div></div>
              <div class="skill">&emsp;Ruby<div class="bar">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
              </div></div>
            </div>
            <div class="skill-table">
              <div class="skill">&emsp;Rails<div class="bar"> Planned</div></div>
              <div class="skill">&emsp;Scheme<div class="bar">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
              </div></div>
              <div class="skill">&emsp;AutoCAD<div class="bar">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
              </div></div>
              <div class="skill">&emsp;SolidWorks<div class="bar">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
              </div></div>
              <div class="skill">&emsp;Node.Js<div class="bar">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
              </div></div>
              <div class="skill">&emsp;Angular.JS<div class="bar"> Planned</div></div>
              <div class="skill">&emsp;MySQL<div class="bar">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
                <img src="images/star.png" class="star">
              </div></div>
            </div>
          </div>
        </div>
      <div id="experience">
        <div class="sub-title" id="experience-title">Experience</div>
        <div id="jobs">
          <div class="job">
            <div class="jobname">Gulfstream Aerospace</div>
            <div class="position">High School Apprentice</div>
            <div class="jobdays">August 2015 - June 2016</div>
            <div class="description">Assisted mechanical engineering teams in drafting, drawing, and checking of interior competions designs of Gulfstream G550 and G650 aircrafts.
              Daily responsibilities included extensive use of AutoCAD, CATIA, and Excel.
            </div>
            <img src="images/gulfstream.png" class="job-img">
          </div>
        </div>
      </div>

      <div id="contact">
        <div class="sub-title">Contact</div>
        <a href="/files/resume.pdf" target=_blank><div id="resume-title">RESUME</div>
        <img src="images/qr.png" id="resume-qr"></a>
        <a href="mailto:hwang97@berkeley.edu"><div class="contact-line"><img src="images/mail.png" class="contact-icon">hwang97@berkeley.edu</div><a/>
        <a href="https://github.com/hantaowang" target="_blank"><div class="contact-line"><img src="images/github.png" class="contact-icon">github.io/hantaowang</div></a>
        <a href="https://linkedin.com/in/hwang97" target="_blank"><div class="contact-line"><img src="images/linked.png" class="contact-icon">linkedin.com/in/hwang97</div></a>
        <a href="/files/resume.pdf" target="_blank"><div class="contact-line"><img src="images/pdf.png" class="contact-icon">/resume.pdf</div></a>
      </div>
    </div>
  </div>
</body>
