body{
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  pointer-events: none;
}

#wrapper{
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  bottom: 60px;
  z-index: 100;
  right: 0;
}

#wrapper::-webkit-scrollbar {
  display: none;
}

#main{
  position: relative;
  top: 0;
  width: 90vw;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  color: white;
  z-index: 0;
  min-width: 900px;
  max-width: 1200px;
}

#menubar{
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  text-align: center;
  user-select: none;
  background: rgba(255,255,255, 0.3);
  z-index: 1;
}

.menuitem{
  position: relative;
  display: inline-block ;
  height: 60px;
  width: 15%;
  min-width: 120px;
  text-align: center;
  font-size: 14pt;
  line-height: 60px;
  font-family: 'Raleway', sans-serif;
  color: white;
  background: transparent;
}

.menuitem:hover{
  cursor: pointer;
}

#name{
  font-size: 130pt;
  position: relative;
  top: 200px;
  min-width: 900px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  letter-spacing: 3pt;
}

#subtitle{
  font-size: 30pt;
  letter-spacing: 3;
  position: fixed;
  top: 450px;
  width: 800px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}
