body{
  width: 100vw;
  overflow-x: hidden;
}

#landing{
  height: 100vh;
  width: 100vw;
  background: #3ABEFF;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

#name{
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: calc(10vh + 5vw);
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 0;
}

#me_img{
  position: absolute;
  bottom: 0;
  right: -10vw;
  width: 60vw;
  user-select: none;
  z-index: 0;
}

#about{
  position: absolute;
  top: 35vh;
  left: 10vw;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: calc(1vw + 1vh);
  line-height: 6vh;
  z-index: 0;
}

a{
  color: yellow;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}


#part2{
  height: 100vh;
  width: 100vw;
  background: white;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

#skills{
  position: absolute;
  top: calc(10vh + 10vw);
  left: 14%;
  border: 4px solid white;
  user-select: none;
}

.skill-table{
  position: relative;
  float: left;
  overflow: hidden;
}

.skill{
  position: relative;
  height: calc(2vh + 2vw);
  width: 35vw;
  border: 4px solid white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: calc(2vh + 1vw);
  text-align: left;
  line-height: calc(2vh + 2vw);
  color: #3ABEFF;
  background-color: white;
  min-width: 200px;
  overflow: hidden;
  font-weight: lighter;

}

.skill:hover{
  background-color: #f1f1f1;
}

.bar{
  position: absolute;
  right: 5%;
  height: 100%;
  top: 0;
  width: 20vw;
  line-height: calc(3vh + 2vw);
  text-align: right;
  color: #bdbdbd;
  font-size: calc(1.5vh + 1vw);
}

#part2title{
  position: absolute;
  top: 6vh;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Raleway', sans-serif;
  color: #3ABEFF;
  font-size: calc(5vh + 3vw);
  letter-spacing: 2vw;
  border-bottom: 3px solid #e9e9e9;
  width: 40%;
  text-align: center;
}

.star{
  float: right;
  position: relative;
  right: 0;
  margin-left: 5%;
  height: calc(1vh + 1vw);
  top: 50%;
  transform: translateY(-60%);
}

#part3{
  height: 200vh;
  width: 100vw;
  background: #3ABEFF;
  position: relative;
  top: 0;
  left: 0;
}

#part3title{
  position: absolute;
  top: 6vh;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: calc(5vh + 3vw);
  letter-spacing: 5px;
  width: 80%;
  text-align: center;
}

#projects{
  position: relative;
  top: 22vh;
  user-select: none;
  width: 90vw;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.projitem{
  width: 40vh;
  height: 30vh;
  position: relative;
  left: 0;
  display: inline-block;
  margin: 2vh 1.5vw;
  overflow: hidden;
}

.proj_img{
  width: 100%;
  overflow: hidden;
  display:block;
  margin: 0;
  padding: 0;
  position:absolute;
  z-index: 0;
  height: 100%;
  right: 0;
  transition: 0.35s;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.9;
  z-index: 100;
  display: none;
}

.overlay-title{
  color: #3ABEFF;
  font-family: 'Raleway', sans-serif;
  font-size: 5vh;
  text-align: left;
  position: relative;
  top: 5%;
  left: 5%;
}

.overlay-bar{
  height: 1.5%;
  background-color: #3ABEFF;
  position: relative;
  top: 8%;
  left: 5%;
  width: 0px;
  transition: 0.35s;
}

.overlay-text{
  color: #3ABEFF;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5vh;
  text-align: left;
  position: relative;
  top: 12%;
  right: -275px;
  width: 90%;
  height: 80%;
  transition: 0.35s;
}

#part5{
  height: 100vh;
  width: 100vw;
  background: #3abeff;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  color: white;
}

#part4{
  height: 100vh;
  width: 100vw;
  background: white;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #3abeff;
}

#part4title{
  position: relative;
  top: 6vh;
  font-family: 'Raleway', sans-serif;
  color: #3ABEFF;
  font-size: calc(5vh + 3vw);
  letter-spacing: 5px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: block;
}

#part4bar{
  width: 50%;
  border-bottom: 3px solid #e9e9e9;
  display: block;
  margin: 0 auto;
  margin-top: 6vh;
}

#part5subtite{
  position: absolute;
  top: 25vh;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: calc(2vh + 1vw);
  width: 70%;
  text-align: center;
  line-height: calc(3vh + 2vw);
  transition: 1s;
}

#part4subtite{
  position: absolute;
  top: calc(12vh + 5vw);
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: calc(1vh + 1vw);
  width: 70%;
  text-align: left;
  line-height: calc(1.5vh + 1.5vw);
  transition: 1s;
  letter-spacing: 0.1vw;
}

#part5title{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: calc(5vh + 3vw);
  letter-spacing: 15px;
  width: 100%;
  height: 25vh;
  text-align: center;
  line-height: 25vh;
}

.mainoverlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.mainoverlayimg{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  margin: 0 auto;
  padding: 30px;
  background-color: white;
  width: 60%;
}

#link1{
  color: yellow;
  display: inline-block;
  cursor: pointer;
}

#link2{
  color: yellow;
  display: inline-block;
  cursor: pointer;
}

#link3{
  color: yellow;
  display: inline-block;
  cursor: pointer;
}

#link4{
  color: yellow;
  display: inline-block;
  cursor: pointer;
}

.overlaytitle{
  position: absolute;
  bottom: 7%;
  text-align: center;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 4vh;
}

object{
  position: relative;
  top: 45%;
  transform: translateY(-50%);
  display: block;
  margin: 0 auto;
}

#button{
  position: absolute;
  width: 15vw;
  height: 8vh;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid white;
  cursor: pointer;
  transition: 1s;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 4vh;
  line-height: 8vh;
  letter-spacing: 0.5vw;
}

#button:hover{
  width: 20vw;
  letter-spacing: 1vw;
}

.course{
  padding: 1.5vh 2vw;
}

.course:hover{
  background-color: #f1f1f1;
}

.coursetitle{
  width: 80%;
  display: inline-block;
}

.grade{
  display: inline-block;
  width: 20%;
  text-align: right;
}

#GPA{
  text-align: center;
  padding: 3vh;
}
