body{
  height: 2000px;
  overflow-x: hidden;
}

#landing{
  height: 100vh;
  width: 100vw;
  background: #3ABEFF;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

#name{
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 20vh;
  position: absolute;
  top: 9%;
  left: 5%;
}

#me_img{
  position: absolute;
  bottom: 0;
  right: -10vw;
  width: 60vw;
}

#about{
  position: absolute;
  top: 35vh;
  left: 10vw;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 3vh;
  line-height: 6vh;
}

a{
  color: yellow;
  display: inline-block;
  text-decoration: none;
}

a{
  cursor: pointer;
}

#speech {
  position: absolute;
  width: 15vw;
  height: 20vh;
  text-align: center;
  line-height: 100px;
  background-color: #fff;
  border: 4px solid #666;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
  bottom: 27vh;
  right: 32vw;
  display: none;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 24pt;
  line-height: 42pt;
  padding-top: 25px;
  vertical-align: middle;
  text-align: center;
}

#speech:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: -43px;
  top: 25px;
  border: 21px solid;
  border-color: #666 transparent transparent #666;
  transform: rotate(-90deg);
}

#speech:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: -30px;
  top: 32px;
  border: 15px solid;
  border-color: #fff transparent transparent #fff;
  transform: rotate(-90deg);
}

#part2{
  height: 100vh;
  width: 100vw;
  background: #fafafa;
  position: absolute;
  top: 100vh;
  left: 0;
  overflow: hidden;
}

#skills{
  position: absolute;
  top: 25vh;
  left: 14%;
  text-align: center;
  border: 4px solid #fafafa;
}

.skill-table{
  position: relative;
  float: left;
}

.skill{
  position: relative;
  height: 8vh;
  width: 35vw;
  border: 4px solid #fafafa;
  font-family: 'Raleway', sans-serif;
  font-size: 4vh;
  text-align: left;
  line-height: 8vh;
  color: #fafafa;
  background-color: #3ABEFF;
}

.bar{
  position: absolute;
  right: 5%;
  height: 80%;
  top: 10%;
  width: 15vw;
  line-height: 6vh;
  text-align: center;
  background: #26FFE6;
  color: black;
}

#spython{
  background: -webkit-linear-gradient(left, #fafafa 100%, #dbdbdb 100%);
}
#sjava{
  background: -webkit-linear-gradient(left, #fafafa, #fafafa 10%, #dbdbdb 10%, #dbdbdb 100%);
}
#sc{
  background: -webkit-linear-gradient(left, #fafafa, #fafafa 10%, #dbdbdb 10%, #dbdbdb 100%);
}
#shtml{
  background: -webkit-linear-gradient(left, #fafafa 80%, #dbdbdb 20%);
}
#sscript{
  background: -webkit-linear-gradient(left, #fafafa 60%, #dbdbdb 40%);
}
#sruby{
  background: -webkit-linear-gradient(left, #fafafa, #fafafa 10%, #dbdbdb 10%, #dbdbdb 100%);
}
#srails{
  background: -webkit-linear-gradient(left,#fafafa, #fafafa 10%, #dbdbdb 10%, #dbdbdb 100%);
}
#sautocad{
  background: -webkit-linear-gradient(left, #fafafa, #fafafa 70%, #dbdbdb 70%, #dbdbdb 100%);
}
#sswift{
  background: -webkit-linear-gradient(left, #fafafa, #fafafa 10%, #dbdbdb 10%, #dbdbdb 100%);
}
#ssolid{
  background: -webkit-linear-gradient(left,#fafafa, #fafafa 10%, #dbdbdb 10%, #dbdbdb 100%);
}
#sphoto{
  background: -webkit-linear-gradient(left,#fafafa, #fafafa 10%, #dbdbdb 10%, #dbdbdb 100%);
}
#sillu{
  background: -webkit-linear-gradient(left,#fafafa, #fafafa 10%, #dbdbdb 10%, #dbdbdb 100%);
}
#sfinal{
  background: -webkit-linear-gradient(left, #fafafa, #fafafa 60%, #dbdbdb 60%, #dbdbdb 100%);
}
#soffice{
  background: #fafafa;
}

#part2title{
  position: absolute;
  top: 6vh;
  left: 10vw;
  font-family: 'Raleway', sans-serif;
  color: #3ABEFF;
  font-size: 15vh;
  letter-spacing: 15px;
}

#part3{
  height: 100vh;
  width: 100vw;
  background: #E99AC6;
  position: absolute;
  top: 200vh;
  left: 0;
  overflow: hidden;
}
