html{
  width:100%;
  margin: 0;
  overflow-x: hidden;
}

body{
  height: 3900px;
  background: #ededed;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  min-width: 1024px;
}

a{
  text-decoration: none;
}

#menu{
  position: fixed;
  top: 100px;
  left: 0px;
  height: 200px;
  width: 100px;
  z-index: 1000;
  display: none;
  text-decoration: none;
}

.menu-item{
  height: 30px;
  margin-left: 20px;
  color: #a8a8a8;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: left;
}

.menu-item:hover{
  color: black;
  cursor: pointer;
}

#name{
  font-family: 'Share Tech Mono', monospace;
  font-size: 100px;
  position: absolute;
  top: 50px;
  display: none;
  z-index: 10;
  left: calc(35% - 325px);
  background: #ededed;
}

#header{
  width: 100%;
  position: relative;
  height: 700px;
  z-index: 0;
}

#mypic{
  height: auto;
  width: 25%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 300px;
  right: calc(35% - 300px);
  z-index: 5;
  display: none;
}

#mypic-fake{
  height: auto;
  width: 25%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 125px;
  right: calc(35% - 300px);
  z-index: 0;
  display: none;
}

#bio{
  height: 300px;
  width: 600px;
  position: absolute;
  top: 250px;
  font-family: 'Share Tech Mono', monospace;
  font-size: 28px;
  line-height: 125%;
  z-index: 10;
  left: calc(35% - 325px);

}

#links{
  height: 75px;
  width: 500px;
  position: absolute;
  top: 550px;
  left: calc(35% - 325px);

}

.link{
  height: 50px;
  width: auto;
  margin-right: 25px;
}

.link:hover{
  opacity: 0.35;
  cursor: pointer;
}

#l1{
  display: none;
  position: relative;
  top: 50px;
}

#l2{
  display: none;
  position: relative;
  top: 50px;
}

#l3{
  display: none;
  position: relative;
  top: 50px;
}

#l4{
  display: none;
  position: relative;
  top: 50px;
}

#l5{
  display: none;
  position: relative;
  top: 50px;
}

#skill-title{
  font-family: 'Share Tech Mono', monospace;
  font-size: 45px;
  position: relative;
  top: 150px;
  left: 15%;
  font-weight: bold;
}

#skills{
  width: 95%;
  position: relative;
  top: 175px;
  margin: 0 auto;
  text-align: center;
  display: none;
  max-width: 1200px;
}

.skill{
  width: 225px;
  margin: 25px 30px;
  border: black;
  height: 250px;
  display: inline-block;
  position: relative;
  text-align: center;
}

.skill-img{
  height: 200px;
  width: 200px;
  overflow: hidden;
  position: absolute;
  left: 12.5px;
  z-index: 10;
  transition: 1s;
}

.skill-img:hover{
  opacity: 0;
}

.skill-back{
  height: 175px;
  width: 175px;
  overflow: hidden;
  position: absolute;
  left: 25px;
  z-index: 0;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  font-size: 24px;
  line-height: 60%;

}

h1{
  font-family: 'Share Tech Mono', monospace;
  font-size: 90px;
  line-height: 0%;

}

.skill-tall{
  height: 180px;
  width: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.skill-wide{
  width: 180px;
  height: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.skill-name{
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  position: absolute;
  top: 200px;
  width: 100%;
}

#add-skill{
  position: relative;
  top: 300px;
  margin: 0 auto;
  width: 1000px;
  height: 500px;
  display: none;
  background: #ededed;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  font-size: 80px;
  line-height: 500px;
  color: black;
  border-style: solid;
}

#moreskill{
  height: 75px;
  width: 300px;
  position: relative;
  top: 250px;
  margin: 0 auto;
  border-style: solid;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  line-height: 250%;
  display: none;
  background: #545454;
  color: #ededed;
  transition: 2s;
}

#moreskill:hover{
  background: #ededed;
  color: #545454;
  cursor: pointer;
}

#project-title{
  position: relative;
  left: 15%;
  top: 500px;
  font-family: 'Share Tech Mono', monospace;
  font-size: 45px;
  height: 300px;
  width: 600px;
  z-index: 10;
  font-weight: bold;
}

#projects{
  position: relative;
  top: 250px;
  width: 1200px;
  height: 850px;
  margin: 0 auto;
  left: 0;
  text-align: center;
  overflow: hidden;
  z-index: 20;
  display: none;
}

.project{
  position: relative;
  width: 450px;
  height: 400px;
  display: inline-block;
  margin: 10px 30px;
}

.proj-img{
  width: auto;
  height: 100%;
}

#moreproj{
  height: 75px;
  width: 300px;
  position: relative;
  top: 275px;
  margin: 0 auto;
  border-style: solid;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  line-height: 250%;
  display: none;
  background: #545454;
  color: #ededed;
  transition: 2s;
}

#moreproj:hover{
  background: #ededed;
  color: #545454;
  cursor: pointer;
}

#screen{
  position: absolute;
  bottom: 250px;
  left: 50%;
  transform: translateX(-50%);
  width: 900px;
  z-index: 0;
  height: 380px;
  background-color: #bdbdbd;
  border-radius: 50px;
}

#keyboard{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 900px;
  z-index: 0;
  height: 250px;
  background-color: #2a2a2a;
  border-radius: 75px 75px 0px 0px;
}

.row{
  position: relative;
  top: 15px;
  height: 40px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: 5px;
}

.key{
  display: inline-block;
  margin-left: 10px;
  z-index: 10;
  left: 20px;
  height: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  background: #545454;
  padding: 10px;
  line-height: 20px;
  border-radius: 10px;
  min-width: 25px;
  text-align: center;
  color: #ededed;
  transition: 0.1s;
}

.key:hover{
  background: #ededed;
  color: #545454;
}

[id='18']{
  width: 40px;
}

#f1_container {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: 50%;
  z-index: 1;
}
#f1_container {
  perspective: 1000;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
}
.face {
  position: absolute;
  backface-visibility: hidden;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  max-height: 200px;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  color: white;
  text-align: center;
  background-color: #aaa;
}

.proj-name{
  margin-top: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
}

.proj-desc{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 32px;
  width: 90%;
  margin: 0 auto;
}

#formarea{
  position: absolute;
  bottom: 0;
  left: 10%;
  text-align: left;
}

.forminput{
  font-family: 'Share Tech Mono', monospace;
  font-size: 24px;
  font-weight: 200;
  background-color: #bdbdbd;
  border: none;
  border-bottom: solid black 1px;
}

.forminput:focus{
  outline-width: 0;
}

.formtext{
  position: relative;
  left: 0;
  margin-bottom: 10px;
  font-family: 'Share Tech Mono', monospace;
  font-size: 24px;
  font-weight: 700;
}

#form2{
  display: none;
}

#form3{
  display: none;
}

#form4{
  display: none;
}

#submitbutton{
  position: relative;
  bottom: 0;
  display: inline-block;
  left: 47%;
  transform: translateX(-50%);
  border: 2px solid black;
  padding: 5px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Share Tech Mono', monospace;
  font-size: 24px;
  font-weight: 700;
  display: none;
  margin-top: 5px;
  transition: 1s;
}

#submitbutton:focus{
  outline-width: 0;
}

#submitbutton:hover{
  width: 150px;
  cursor: pointer;
}

#contact-title{
  position: absolute;
  bottom: 220px;
  width: 1000px;
  height: 500px;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%);
  animation: coolanimation 10s ease infinite;
  font-family: 'Share Tech Mono', monospace;
  font-size: 75px;
  font-weight: 700;
  text-align: center;
}

@keyframes coolanimation {
    0% {color: #FF0080;}
    8.3% {color: #FF0000;}
    16.6% {color: #FF8000;}
    25% {color: #FFFF00;}
    33.3% {color: #80FF00;}
    41.6% {color: #00FF00;}
    50.0% {color: #00FF80;}
    58.3% {color: #00FFFF;}
    66.6% {color: #0080FF;}
    75.0% {color: #0000FF;}
    83.3% {color: #8000FF;}
    91.6% {color: #FF00FF;}
    100.0% {color: #FF0080;}
}
