
body{
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #0ABFBC; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FC354C, #0ABFBC); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FC354C , #0ABFBC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-size: cover;
  height: 4110px;
  overflow: hidden;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

#href{
  color: yellow;
  display: inline-block;
}

#wrapper{
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 60px);
  width: 100%;
  margin: 0;
  bottom: 60px;
  z-index: 100;
  right: 0;
}

#wrapper::-webkit-scrollbar {
  display: none;
}

#main{
  height: 4060px;
  position: relative;
  top: 0;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  color: white;
  z-index: 0;
}

#menubar{
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  text-align: center;
  user-select: none;
  background: rgba(255,255,255, 0.3);
  z-index: 1;
}

.menuitem{
  position: relative;
  display: inline-block ;
  height: 60px;
  width: 200px;
  text-align: center;
  font-size: 14pt;
  line-height: 60px;
  font-family: 'Raleway', sans-serif;
  color: white;
  background: transparent;
}

.menuitem:hover{
  cursor: pointer;
}

#name{
  font-size: 130pt;
  position: relative;
  top: 200px;
  width: 1000px;
  text-align: center;
  pointer-events: none;
  letter-spacing: 3pt;
}

#subtitle{
  font-size: 30pt;
  letter-spacing: 3;
  position: fixed;
  top: 450px;
  width: 1000px;
  text-align: center;
  pointer-events: none;
}

#scrollwarning{
  font-size: 20pt;
  letter-spacing: 3;
  position: fixed;
  top: 550px;
  width: 1000px;
  text-align: center;
  opacity: 0.5;
  letter-spacing: 4pt;
  animation-name: scrollani;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  pointer-events: none;
}

@keyframes scrollani {
    0%   {opacity: 0.2;}
    50%  {opacity: 0.7;}
    100% {opacity: 0.2;}
}


.menufalse{
  position: fixed;
  bottom: 0;
  height: 60px;
  background-color: white;
  z-index: 99;
  opacity: 0.6;
}

#about{
  position: absolute;
  top: 650px;
  padding-top: 200px;
  height: 500px;
  left: 0px;
  width: 580px;
  text-align: left;
  line-height: 32pt;
  font-size: 18pt;
  letter-spacing: 0.4pt;
  font-family: 'Raleway', sans-serif;
}

#profile{
  border-radius: 50%;
  border: 5px solid white;
  position: absolute;
  top: 850px;
  right: 30px;
  height: 300px;
  overflow: hidden;
}

#projects{
  position: absolute;
  top: 1400px;
  width: 100%;
}

#projecttitle{
  top: 10px;
}

.projitem{
  width: 300px;
  height: 225px;
  position: relative;
  top: 125px;
  left: 0;
  display: inline-block;
  margin: 15px;
  overflow: hidden;
}

.proj_img{
  width: 100%;
  overflow: hidden;
  display:block;
  margin: 0;
  padding: 0;
  position:absolute;
  z-index: 0;
  height: 100%;
  right: 0;
  transition: 0.35s;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.9;
  z-index: 100;
  display: none;
}

.overlay-title{
  color: #3ABEFF;
  font-family: 'Raleway', sans-serif;
  font-size: 24pt;
  text-align: left;
  position: relative;
  top: 5%;
  left: 5%;
}

.overlay-bar{
  height: 1.5%;
  background-color: #3ABEFF;
  position: relative;
  top: 8%;
  left: 5%;
  width: 0px;
  transition: 0.35s;
}

.overlay-text{
  color: #3ABEFF;
  font-family: 'Raleway', sans-serif;
  font-size: 14pt;
  text-align: left;
  position: relative;
  top: 12%;
  right: -275px;
  width: 90%;
  height: 80%;
  transition: 0.35s;
}


#part2{
  position: absolute;
  top: 2250px;
  width: 100%;
}

#skills{
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  user-select: none;
}

.skill-table{
  width: 48%;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 1%;
}

.skill{
  position: relative;
  height: 50px;
  width: 35vw;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24pt;
  text-align: left;
  line-height: 50px;
  color: white;
  min-width: 200px;
  overflow: hidden;
  font-weight: lighter;
  margin-top: 10px;

}

.skill:hover{
  background-color: rgba(255, 255, 255, 0.3);
}

.bar{
  position: absolute;
  right: 10%;
  height: 100%;
  top: 0;
  width: 20vw;
  line-height: 50px;
  text-align: right;
  color: white;
  font-size: 18pt;
}


.star{
  float: right;
  position: relative;
  right: 0;
  margin-left: 5px;
  height: 30px;
  top: 50%;
  transform: translateY(-60%);
}

#experience{
  position: absolute;
  top: 3000px;
  width: 100%;
}

#jobs{
  position: absolute;
  top: 200px;
  font-size: 20px;
  text-align: left;
}

.job{
  height: 150px;
  width: 1000px;
}

.jobname{
  width: 300px;
  font-size: 28px;
  margin-bottom: 5px;
}

.jobdays, .position, .description{
  width: 300px;
  display: inline-block;
  font-weight: lighter;
  text-align: left;
}

.description{
  margin-top: 10px;
  width: 700px;
}

.job-img{
  max-width: 250px;
  max-height: 150px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#contact{
  height: 500px;
  width: 100%;
  right: 0;
  position: absolute;
  top: 3500px;
}

.sub-title{
  letter-spacing: 3pt;
  position: absolute;
  top: 50px;
  font-size: 50pt;
  width: 100%;
}

#resume-qr{
  height: 250px;
  position: absolute;
  top: 190px;
  right: 150px;
}

#resume-title{
  font-size: 30px;
  position: absolute;
  top: 170px;
  right: 148px;
  width: 250px;
  letter-spacing: 5pt;
}

.contact-line{
  position: relative;
  top: 150px;
  left: 200px;
  height: 50px;
  width: 500px;
  line-height: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  text-align: left;
  margin: 20px;
}

.contact-icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -75px;
  max-width: 40px;
  max-height: 40px;
  user-select: none;
}
